@media (min-width: 768px) {
 
  #menu {
    display: none;
  }

 
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header h1 {
    font-size: 2rem;
  }

 
.navigation {
    display: block !important;
  }



  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
  }

  
  nav a:hover {
    color: #ffcc00;
    text-decoration: underline;
  }

 
  main {
    max-width: 800px;
    margin: 0 auto;
  }

  
  .temple-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
}

